In [2]:
import numpy as np
import pandas as pd

In [3]:

LABELS = ['A' , 'B' , 'C']

In [4]:
my_list = [10,20,30]

In [5]:
arr = np.array([10,20,30])

In [6]:
d = {'A':10,
     'B':20,
     'C':30}

In [8]:
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(data=my_list,index=LABELS)

A    10
B    20
C    30
dtype: int64

In [11]:
pd.Series(my_list,LABELS)

A    10
B    20
C    30
dtype: int64

In [12]:
pd.Series(d)

A    10
B    20
C    30
dtype: int64

In [19]:
sales_q1 = pd.Series(data=[250,300,350,400 ,500],index=['USA','China','Japan','India','Russia'])
sales_q1

USA       250
China     300
Japan     350
India     400
Russia    500
dtype: int64

In [20]:
sales_q2 = pd.Series(data=[100,200,300,400,500],index=['USA', 'China', 'Japan', 'India', 'Brazil'])

In [21]:
sales_q2

USA       100
China     200
Japan     300
India     400
Brazil    500
dtype: int64

In [22]:
sales_q2[0]

100

In [23]:
sales_q2['USA']

100

In [24]:
sales_q1[10]

IndexError: index 10 is out of bounds for axis 0 with size 5

In [25]:
sales_q1 + sales_q2

Brazil      NaN
China     500.0
India     800.0
Japan     650.0
Russia      NaN
USA       350.0
dtype: float64